/*
!/.gitignore
!/Factorio/
!/Factorio/**

# Extra safety: ignore common Windows/user-profile junk if it ever gets pulled in
AppData/
Application Data/
Local Settings/
Cookies/
Temporary Internet Files/
*.log